# Pandas

In [13]:
import pandas as pd
import numpy as np

In [14]:
a = pd.Series([1, 2, 3, "Ali", 5, np.nan, -1])
a

0      1
1      2
2      3
3    Ali
4      5
5    NaN
6     -1
dtype: object

In [15]:
d = pd.date_range("2020-01-01", periods=6)
d

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
n = np.random.randn(6, 4)
n

array([[-1.11576178, -0.605906  ,  1.01914815,  0.08835775],
       [-1.58867416, -0.80597659,  0.34047108, -1.18337122],
       [-0.95353427,  0.61000435, -0.28628559, -1.14561134],
       [-1.65584044, -0.76979717, -1.08751084,  0.60824746],
       [ 1.33881912,  0.57221911, -1.56112039, -0.79965338],
       [ 0.44615433, -0.49051647,  0.95315118, -0.1461114 ]])

In [18]:
df = pd.DataFrame(n, index=d , columns=list("ABCD"))
df

                   A         B         C         D
2020-01-01 -1.115762 -0.605906  1.019148  0.088358
2020-01-02 -1.588674 -0.805977  0.340471 -1.183371
2020-01-03 -0.953534  0.610004 -0.286286 -1.145611
2020-01-04 -1.655840 -0.769797 -1.087511  0.608247
2020-01-05  1.338819  0.572219 -1.561120 -0.799653
2020-01-06  0.446154 -0.490516  0.953151 -0.146111

In [21]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.588140 -0.248329 -0.103691 -0.429690
std    1.211271  0.660220  1.067736  0.727125
min   -1.655840 -0.805977 -1.561120 -1.183371
25%   -1.470446 -0.728824 -0.887205 -1.059122
50%   -1.034648 -0.548211  0.027093 -0.472882
75%    0.096232  0.306535  0.799981  0.029740
max    1.338819  0.610004  1.019148  0.608247

In [22]:
df[0:3]

                   A         B         C         D
2020-01-01 -1.115762 -0.605906  1.019148  0.088358
2020-01-02 -1.588674 -0.805977  0.340471 -1.183371
2020-01-03 -0.953534  0.610004 -0.286286 -1.145611

In [23]:
df.sort_values(by="B")

                   A         B         C         D
2020-01-02 -1.588674 -0.805977  0.340471 -1.183371
2020-01-04 -1.655840 -0.769797 -1.087511  0.608247
2020-01-01 -1.115762 -0.605906  1.019148  0.088358
2020-01-06  0.446154 -0.490516  0.953151 -0.146111
2020-01-05  1.338819  0.572219 -1.561120 -0.799653
2020-01-03 -0.953534  0.610004 -0.286286 -1.145611

In [24]:
df[df["A"] > 0]

                   A         B         C         D
2020-01-05  1.338819  0.572219 -1.561120 -0.799653
2020-01-06  0.446154 -0.490516  0.953151 -0.146111

## read and write operations

In [26]:
df.to_excel("data.xlsx")

In [27]:
import os
print(os.getcwd())

c:\Users\aenga\AppData\Local\Programs\Microsoft VS Code